doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere tincidunt egestas. Quisque ut urna at ipsum fermentum mollis. Sed lacinia consequat tortor, non lobortis quam semper ac. Mauris vitae pellentesque orci, in pellentesque leo. Morbi sit amet sollicitudin lorem. Mauris est velit, iaculis at dolor nec, finibus commodo dolor. In non elit vitae erat interdum imperdiet. Ut tellus tellus, egestas sed nisi vel, interdum ultrices nisi. Cras nec placerat magna, in elementum libero. Integer nisi neque, mattis at mollis vel, viverra vitae lorem. Duis rhoncus aliquet urna in mollis. Sed erat eros, placerat id accumsan in, venenatis luctus nunc. Duis ac risus ut nunc scelerisque elementum vitae ac tellus. Praesent pharetra, purus nec consectetur vestibulum, augue elit ultricies lacus, ut volutpat tellus ante vel velit. Sed consectetur, est at efficitur laoreet, massa nunc rutrum neque, vel pulvinar ipsum dui a tortor. Phasellus vitae ligula commodo, vestibulum purus et, semper massa.
